<launch>

 <node name="gerege_stepping" type="gerege_stepping" pkg="gerege_stepping"/>

 <node name="control" type="control" pkg="control" />

<!--joy node-->
<node pkg="joy" type="joy_node" name="joy_node">
</node>

<node
 pkg="rosserial_python"
 type="serial_node.py"
 name="serial_node_sub"
 output="screen"
>

<param name="port" value="/dev/ttyACM0"/>
<param name="baud" value="57600"/>
</node>

</launch>

