<launch>

 <node name="tf_twist" type="tf_twist" pkg="tf_twist" />


<include file="$(find control)/launch/joy_control.launch"/>

<node
 pkg="rosserial_python"
 type="serial_node.py"
 name="serial_node">

<param name="port" value="/dev/ttyACM0"/>
<param name="baud" value="57600"/>
</node>


</launch>

