<launch>

<!--joy node-->
<node pkg="joy" type="joy_node" name="joy_node">
</node>




<!---->
<node
 pkg="rosserial_python"
 type="serial_node.py"
 name="serial_node">

<param name="port" value="/dev/ttyACM0"/>
<param name="baud" value="57600"/>
</node>

<!--tc_joy-->
<node pkg="joy_to_motorpw" type="tc_joy" name="tc_joy_node">
</node>


</launch>
