<launch>

 <include file="$(find simc)/launch/gazebo.launch"/>

 <node name="odom" pkg="odm" type="odom" />

 <node name="tf_twist" type="tf_twist" pkg="tf_twist" />


<include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch"/>

<include file="$(find control)/launch/joy_control.launch"/>


<node pkg="rviz" type="rviz" name="rviz">
</node>


</launch>

